/*-------------- COLORES -------------*/
.white {
    color: white;
}
.magenta {
    color:#FF08D7;   
}
.morado {
    color: #b062fe;
}
.azul {
    color: #3385ff;
}

.bg-magenta {
    background-color: #FF08D7; 
}
.bg-azul {
    background-color:#3385ff ;
}
.bg-morado {
    background-color:#b062fe ;
}

.body-degradado {
    background: linear-gradient(to bottom, #FF08D7, #b062fe, #3385ff);
}






.navbar-color{
    background-color: black;

}
#navbar-button{
    color:#FF08D7;
    border: none;
}
.navbar-link {
    line-height: 1; 
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    
}
.navbar-link:hover{
    color:#FF08D7;
}
/*------------  ESTILOS DE LOGIN  ----------------------*/
.card{
    margin:50px 20px 50px 20px;
    background-color: black;
    border-radius: 20px;
}
.link-personalizado:hover {
    color:#FF08D7;
}
.btn-login {
    border-radius: 50px;
    padding-right: 30px;
    padding-left: 30px;
    
}

